@font-face {
    font-family: 'PokemonHollow';
    src: url('./Pokemon Hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('./Pokemon Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon';
    src: url('./Pokemon.ttf') format('truetype');
}

@font-face {
    font-family: 'PokemonOutlined';
    src: url('./Pokemon Outlined.ttf') format('truetype');
}